// FONT VARIABLES
$Montserrat: "Montserrat", sans-serif;
$Fraunces: "Fraunces", serif;
$fw-md: 500;
$fw-bold: 700;
$fs-sm: 0.85rem;

// COLORS VARIABLES
$bg-primary-color: hsl(30, 38%, 92%);
$primary-dark-cyan: hsl(158, 36%, 37%); 
$white: hsl(0, 0%, 100%);
$dark-blue: hsl(212, 21%, 14%);
$dark-greyish-blue: hsl(228, 12%, 48%);
$btn-active-color: #16362A;